@import './normalize.css';
/*
* 样式初始化
*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
form,
ul,
li,
ol,
button,
input,
textarea,
label,
a,
i,
nav,
iframe,
main,
video {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  font-weight: normal;
}
/*
* 去除iframe边框
*/
iframe {
  border: none;
  vertical-align: middle;
}
/*
* 禁止textarea大小拖拽
*/
textarea {
  resize: none;
}
/*
* body宽高满屏
*/
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
}
a,
a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none;
  color: #0e88e5;
  cursor: pointer;
}
